
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserLayout";
}
<main class="flex-1 overflow-x-hidden overflow-y-auto md:mr-64 p-6 transition-all duration-300">

    <section id="table-section" class="mb-8">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">مدیریت کاربران</h2>

        <div class="card p-6">

            <a asp-controller="User" asp-action="AddUser" class="btn btn-primary p-2 m-2 w-40">ایجاد تسک جدید</a>

            <!-- Table Container (Responsive Scroll) -->
            <div class="overflow-x-auto rounded-lg border border-gray-200">
                <table class="min-w-full divide-y divide-gray-200" id="user-table">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                شناسه
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                نام کاربری
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                نام کامل
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                نقش
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                                عملیات
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200" id="user-table-body">
                        <!-- Data Rows - Actions changed to buttons -->
                        @foreach (var user in Model)
                        {
                            <tr class="hover:bg-gray-50 transition duration-150">

                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">@user.Id</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@user.UserName</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@user.FirstName @user.LastName</td>
                      @*           <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    @{
                                        if (@user.Role == @RoleEnum.Admin)
                                        {
                                            <label style="color:green"> ادمین </label>
                                        }
                                        else
                                        {
                                            <label style="color:purple"> مشتری </label>
                                        }

                                    }

                                </td> *@
                                @*    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    @{
                                        if (user.IsAdmin)
                                        {
                                            <label style="color:green"> ادمین </label>
                                        }
                                        else
                                        {
                                            <label style="color:red"> کاربر </label>
                                        }
                                    }
                                </td> *@


                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a asp-controller="User" asp-action="Update" asp-route-userId="@user.Id" class="px-3 py-1 bg-yellow-500 text-white text-xs rounded-lg hover:bg-blue-600 transition duration-150 shadow-md">ویرایش</a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a asp-controller="User" asp-action="DeleteUser" asp-route-userId="@user.Id" class="px-3 py-1 bg-red-500 text-white text-xs rounded-lg hover:bg-blue-600 transition duration-150 shadow-md">حذف</a>
                                </td>
                            </tr>
                        }

                        <!-- More Data Rows can be added here -->
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</main>